version: '3.9'

services:
    db:
        image: postgres:9.6.23 # TODO: change postgres (dev -> integ)
        restart: always
        container_name: postgres-dev
        ports:
            - '5432:5432'
        volumes:
            - ./db_data:/var/lib/postgres/data
        env_file:
            - ./.env.integ
    capstone:
        build:
            context: .
            dockerfile: ./Dockerfile.dev
        container_name: capstone-server
        ports:
            - '80:3000'
        volumes:
            - ./:/app
        restart: always
        env_file:
            - ./.env.integ
        command: sh -c "npm run seed:run && npm run start:integ"
        depends_on:
            - db
