<html>
	<head>
		<meta charset='utf-8' />
		<link rel='stylesheet' href='/css/community-posts.css' />
		<script src='/lib/jquery-3.6.1.min.js'></script>
		<script src='/js/community-posts.js'></script>
		<link rel='preconnect' href='https://fonts.googleapis.com' />
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
		<link href='https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap' rel='stylesheet' />
	</head>
	<body>
		<center>
			<div class='posts'>
				<div class='posts-top'>
					신고 글 상세보기
				</div>
				<div class='posts-header'>
				</div>
				<div class='posts-body'>
				</div>
				<div class='posts-footer'>
					<button class='btn btn-delete'>게시글 삭제</button>
				</div>
			</div>
		</center>
	</body>
</html>