* {
	box-sizing: border-box;
	font-family: 'Nanum Gothic', sans-serif;
}

body {
	margin: 0;
	background-color: #f2f2f2;
	overflow: auto;
}

.home {
	text-align: center;
	background: #4d377b;
	color: #fff;
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 16px;
	font-weight: 600;
	border-bottom: 2px solid white;
}

.home a {
	color: #fff;
	font-size: 16px;
	font-weight: 600;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.container {
	position: fixed;
	width: 260px;
	background: white;
	height: 100%;
	overflow: auto;
	box-shadow: 0 5px 10px rgba(35, 0, 77, 0.2);
}
#menu li a {
	position: relative;
	display: block;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #eee;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	color: #5f5f5f;
	padding-left: 10px;
}

#menu li a:hover {
	background-color: rgba(198, 128, 255, 0.2);
	color: #4d377b;
	border-radius: 5px;
}

#menu .sub_menu {
	display: none;
}
#menu .sub_menu a {
	background-color: rgba(204, 204, 204, 0.2);
	color: #5f5f5f;
	font-size: 12px;
}
#menu .sub_menu a:hover {
	background-color: rgba(198, 128, 255, 0.4);
	color: #4d377b;
}

.header {
	position: fixed;
	width: 100%;
	background-color: white;
	height: 70px;
	box-shadow: 0 5px 10px -5px rgba(35, 0, 77, 0.2);
	padding-top: 20px;
}

.material-symbols-outlined {
	float: right;
	font-size: 22px;
	color: gray;
	cursor: pointer;
	text-align: right;
	margin-right: 30px;
	margin-top: 5px;
}

#admin_page {
	font-size: 24px;
	font-weight: bolder;
	color: #4d377b;
	text-align: left;
	margin-left: 280px;
	margin-bottom: 20px;
}

.material-symbols-outlined:hover {
	font-size: 25px;
	color: #4d377b;
}

.ad_request {
	padding-top: 100px;
	padding-left: 350px;
}

.ad_request a {
	font-size: 14px;
	font-weight: 600;
	color: #4d377b;
}

#list_table {
	width: 1000px;
	border-radius: 8px;
	border-collapse: collapse;
	margin-top: 10px;
	margin-bottom: 50px;
	text-align: center;
}

#list_table tr {
	border-top: #d3d3d3 solid 1px;
}

#list_table tr:nth-child(odd) {
	background-color: white;
}

#list_table tr:nth-child(even) {
	background-color: #ebe7f1;
}

#list_table th,
td {
	padding: 15px 30px;
}

#list_table th {
	background-color: #4d377b;
	color: white;
	font-size: 14px;
	font-weight: 700;
}

#list_table td {
	font-size: 12px;
	color: black;
	font-weight: bold;
}

#list_table .detail-link,
#list_table .delete-link {
	font-size: 14px;
	color: #4d377b;
	font-weight: bold;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	margin-top: 10px;
	padding-right: 10px;
	float: left;
}

.dataTables_filter {
	float: left;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: bolder;
}

.dataTables_info {
	text-align: left !important;
	color: #5f5f5f;
	font-size: 12px;
	font-weight: 600;
}

#popup {
	display: none;
	width: 800px;
	height: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -250px 0 0 -350px;
	background-color: #fff;
	z-index: 2;
	border-radius: 10px;
	text-align: center;
	overflow-y: auto;
	font-size: 14px;
	font-weight: bold;
}

.modal-title {
	font-size: 18px;
	color: #fff;
	font-weight: 800;
	background-color: #4d377b;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 20px;
}

.modal-body div {
	padding: 10px;
}

.modal-footer {
	margin: 20px;
}

.btn {
	cursor: pointer;
	border: none;
	display: inline-block;
	border-radius: 3px;
	border: 1px solid #4d377b;
	box-shadow: 0 5px 10px -5px rgba(35, 0, 77, 0.2);
	font-size: 12px;
	font-weight: 600;
	padding: 6px 12px;
}

.btn:hover {
	border: none;
	background-color: #4d377b;
	color: white;
}

.backon {
	content: '';
	width: 100%;
	height: 100%;
	background: #00000054;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

.close {
	position: absolute;
	top: -25px;
	right: 0;
	cursor: pointer;
}
