* {
	box-sizing: border-box;
	font-family: 'Nanum Gothic', sans-serif;
}

body {
	margin: 0;
	background-color: #f2f2f2;
	overflow: auto;
}

.home {
	text-align: center;
	background: #4d377b;
	padding-top: 25px;
	padding-bottom: 25px;
	border-bottom: 2px solid white;
}

.home a {
	color: #fff;
	font-size: 16px;
	font-weight: 600;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.container {
	position: fixed;
	width: 260px;
	background: white;
	height: 100%;
	overflow: auto;
	box-shadow: 0 5px 10px rgba(35, 0, 77, 0.2);
}
#menu li a {
	position: relative;
	display: block;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #eee;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	color: #5f5f5f;
	padding-left: 10px;
}

#menu li a:hover {
	background-color: rgba(198, 128, 255, 0.2);
	color: #4d377b;
	border-radius: 5px;
}

#menu .sub_menu {
	display: none;
}
#menu .sub_menu a {
	background-color: rgba(204, 204, 204, 0.2);
	color: #5f5f5f;
	font-size: 12px;
}
#menu .sub_menu a:hover {
	background-color: rgba(198, 128, 255, 0.4);
	color: #4d377b;
}

.header {
	position: fixed;
	width: 100%;
	background-color: white;
	height: 70px;
	box-shadow: 0 5px 10px -5px rgba(35, 0, 77, 0.2);
	padding-top: 20px;
}

.logout,
.icon-home {
	float: right;
	font-size: 22px;
	color: gray;
	cursor: pointer;
	text-align: right;
	margin-right: 30px;
	margin-top: 5px;
}

#admin_page {
	font-size: 24px;
	font-weight: bolder;
	color: #4d377b;
	text-align: left;
	margin-left: 280px;
	margin-bottom: 20px;
}

.logout:hover,
.icon-home:hover {
	font-size: 25px;
	color: #4d377b;
}

.wrap {
	width: 100%;
	white-space: nowrap;
}

.box {
	display: inline-block;
	overflow: auto;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 5px 10px -5px rgba(35, 0, 77, 0.2);
}

.ad_box {
	margin-top: 100px;
	margin-left: 300px;
	width: 800px;
	height: 280px;
}

.manage_top {
	background-color: #4d377b;
	color: white;
	width: 100%;
	padding: 16px;
	font-size: 14px;
	font-weight: 600;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.community_box {
	width: 300px;
	height: 280px;
	margin-top: 40px;
	margin-left: 40px;
}

.ad_reg_box {
	width: 800px;
	height: 350px;
	margin-top: 40px;
	margin-left: 300px;
	margin-bottom: 40px;
}

.box_wrap {
	display: inline-block;
	width: 250px;
	height: 280px;
	margin-left: 40px;
	margin-bottom: 130px;
}

.box_wrap .user-page {
	float: left;
	overflow: hidden;
	background-color: white;
	margin-top: 40px;
	width: 100%;
	height: 120px;
	border-left: 6px solid #4d377b;
	border-radius: 5px;
	box-shadow: 0 5px 10px -5px rgba(35, 0, 77, 0.2);
	text-align: left;
}

.user-page p {
	margin-top: 15px;
	margin-left: 20px;
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: 600;
	text-align: left;
	color: gray;
}

.model a {
	margin-left: 20px;
	font-size: 12px;
	font-weight: 800;
	color: #4d377b;
}

#file-upload {
	margin-left: 20px;
}

.btn-submit {
	margin-left: 20px;
}

.btn-training {
	margin-top: 20px;
	margin-left: 20px;
	font-size: 18px;
}

#ascent p {
	margin-left: 5px;
	display: inline;
	font-size: 8px;
	color: 007200;
}

table {
	width: 100%;
	font-weight: bold;
	text-align: left;
	border-collapse: collapse;
}

th {
	background-color: #f2f2f2;
	font-size: 10px;
	padding: 15px 10px;
}

td {
	font-size: 9px;
	padding: 10px;
}

.dataTables_paginate {
	display: none;
}

.dataTables_length {
	display: none;
}

.btn {
	cursor: pointer;
	border: none;
	display: inline-block;
	border-radius: 3px;
	border: 1px solid #4d377b;
	box-shadow: 0 5px 10px -5px rgba(35, 0, 77, 0.2);
	font-size: 9px;
	font-weight: 600;
	padding: 4px 8px;
}

.btn:hover {
	border: none;
	background-color: #4d377b;
	color: white;
}
