name: Deploy to Naver Cloud

on:
    push:
        branches: [main]

jobs:
    deploy:
        name: Deploy
        runs-on: ubuntu-latest

        steps:
            - name: Check out the repo
              uses: actions/checkout@v2

            - name: Deploy ncloud
              uses: appleboy/ssh-action@master
              id: deploy-prod
              if: contains(github.ref, 'main')
              with:
                  host: ${{secrets.NCLOUD_SERVER_IP}}
                  username: ${{secrets.NCLOUD_SERVER_USER}}
                  password: ${{secrets.NCLOUD_SERVER_PW}}
                  port: ${{secrets.NCLOUD_SERVER_PORT}}
                  script: |
                      touch blackCoffee_server/.env.integ
                      echo NODE_ENV=integ >> blackCoffee_server/.env.integ
                      echo PORT=${{secrets.PORT}} >> blackCoffee_server/.env.integ
                      echo DATABASE_USER=${{secrets.DATABASE_USER}} >> blackCoffee_server/.env.integ
                      echo DATABASE_PASSWORD=${{secrets.DATABASE_PASSWORD}} >> blackCoffee_server/.env.integ
                      echo DATABASE_HOST=${{secrets.DATABASE_HOST}} >> blackCoffee_server/.env.integ
                      echo DATABASE_PORT=${{secrets.DATABASE_PORT}} >> blackCoffee_server/.env.integ
                      echo DATABASE_DB=${{secrets.DATABASE_DB}} >> blackCoffee_server/.env.integ
                      echo POSTGRES_HOST=${{secrets.POSTGRES_HOST}} >> blackCoffee_server/.env.integ
                      echo POSTGRES_PORT=${{secrets.POSTGRES_PORT}} >> blackCoffee_server/.env.integ
                      echo POSTGRES_USER=${{secrets.POSTGRES_USER}} >> blackCoffee_server/.env.integ
                      echo POSTGRES_PASSWORD=${{secrets.POSTGRES_PASSWORD}} >> blackCoffee_server/.env.integ
                      echo POSTGRES_DB=${{secrets.POSTGRES_DB}} >> blackCoffee_server/.env.integ
                      echo KAKAO_CLIENT_ID=${{secrets.KAKAO_CLIENT_ID}} >> blackCoffee_server/.env.integ
                      echo KAKAO_CALLBACK_URL=${{secrets.KAKAO_CALLBACK_URL}} >> blackCoffee_server/.env.integ
                      echo FACEBOOK_CLIENT_ID=${{secrets.FACEBOOK_CLIENT_ID}} >> blackCoffee_server/.env.integ
                      echo FACEBOOK_SECRET_KEY=${{secrets.FACEBOOK_SECRET_KEY}} >> blackCoffee_server/.env.integ
                      echo FACEBOOK_CALLBACK_URL=${{secrets.FACEBOOK_CALLBACK_URL}} >> blackCoffee_server/.env.integ
                      echo JWT_ACCESS_TOKEN_SECRET=${{secrets.JWT_ACCESS_TOKEN_SECRET}} >> blackCoffee_server/.env.integ
                      echo JWT_ACCESS_TOKEN_EXPIRATION_TIME=${{secrets.JWT_ACCESS_TOKEN_EXPIRATION_TIME}} >> blackCoffee_server/.env.integ
                      echo JWT_ACCESS_TOKEN_EXPIRATION_TIME_ADMIN=${{secrets.JWT_ACCESS_TOKEN_EXPIRATION_TIME_ADMIN}} >> blackCoffee_server/.env.integ
                      echo JWT_REFRESH_TOKEN_SECRET=${{secrets.JWT_REFRESH_TOKEN_SECRET}} >> blackCoffee_server/.env.integ
                      echo JWT_REFRESH_TOKEN_EXPIRATION_TIME=${{secrets.JWT_REFRESH_TOKEN_EXPIRATION_TIME}} >> blackCoffee_server/.env.integ
                      echo EMAIL=${{secrets.EMAIL}} >> blackCoffee_server/.env.integ
                      echo EMAIL_PASSWORD=${{secrets.EMAIL_PASSWORD}} >> blackCoffee_server/.env.integ
                      echo NCLOUD_ACCESS_KEY_ID=${{secrets.NCLOUD_ACCESS_KEY_ID}} >> blackCoffee_server/.env.integ
                      echo NCLOUD_SECRET_ACCESS_KEY=${{secrets.NCLOUD_SECRET_ACCESS_KEY}} >> blackCoffee_server/.env.integ
                      echo NCLOUD_STORAGE_ENDPOINT=${{secrets.NCLOUD_STORAGE_ENDPOINT}} >> blackCoffee_server/.env.integ
                      echo NCLOUD_STORAGE_BUCKET=${{secrets.NCLOUD_STORAGE_BUCKET}} >> blackCoffee_server/.env.integ
                      echo NCLOUD_SERVER_IP=${{secrets.NCLOUD_SERVER_IP}} >> blackCoffee_server/.env.integ
                      echo NCLOUD_SERVER_USER=${{secrets.NCLOUD_SERVER_USER}} >> blackCoffee_server/.env.integ
                      echo NCLOUD_SERVER_PW=${{secrets.NCLOUD_SERVER_PW}} >> blackCoffee_server/.env.integ
                      echo NCLOUD_SERVER_PORT=${{secrets.NCLOUD_SERVER_PORT}} >> blackCoffee_server/.env.integ
                      echo SSH_HOST=${{secrets.SSH_HOST}} >> blackCoffee_server/.env.integ
                      echo SSH_USERNAME=${{secrets.SSH_USERNAME}} >> blackCoffee_server/.env.integ
                      echo SSH_PORT=${{secrets.SSH_PORT}} >> blackCoffee_server/.env.integ
                      echo SSH_PASSWORD=${{secrets.SSH_PASSWORD}} >> blackCoffee_server/.env.integ
                      cd blackCoffee_server/
                      docker-compose -f docker-compose.dev.yml stop
                      docker-compose -f docker-compose.dev.yml up -d
