name: blackcoffee nestjs unit test

on:
    push:
        branches: [develop]
    pull_request:
        branches: [develop, main]

jobs:
    test:
        runs-on: ubuntu-20.04
        timeout-minutes: 10

        strategy:
            matrix:
                node-version: [16.5]

        steps:
            - uses: actions/checkout@v3
            - name: Set up Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node-version }}
            - name: Create env.test file
              run: |
                  touch .env.test
                  echo NODE_ENV=${{ secrets.NODE_ENV }} >> .env.test
                  echo PORT=${{secrets.PORT}} >> .env.test
                  echo DATABASE_USER=${{secrets.DATABASE_USER}} >> .env.test
                  echo DATABASE_PASSWORD=${{secrets.DATABASE_PASSWORD}} >> .env.test
                  echo DATABASE_HOST=${{secrets.DATABASE_HOST}} >> .env.test
                  echo DATABASE_PORT=${{secrets.DATABASE_PORT}} >> .env.test
                  echo DATABASE_DB=${{secrets.DATABASE_DB}} >> .env.test
                  echo POSTGRES_HOST=${{secrets.POSTGRES_HOST}} >> .env.test
                  echo POSTGRES_PORT=${{secrets.POSTGRES_PORT}} >> .env.test
                  echo POSTGRES_USER=${{secrets.POSTGRES_USER}} >> .env.test
                  echo POSTGRES_PASSWORD=${{secrets.POSTGRES_PASSWORD}} >> .env.test
                  echo POSTGRES_DB=${{secrets.POSTGRES_DB}} >> .env.test
                  echo KAKAO_CLIENT_ID=${{secrets.KAKAO_CLIENT_ID}} >> .env.test
                  echo KAKAO_CALLBACK_URL=${{secrets.KAKAO_CALLBACK_URL}} >> .env.test
                  echo JWT_ACCESS_TOKEN_SECRET=${{secrets.JWT_ACCESS_TOKEN_SECRET}} >> .env.test
                  echo JWT_ACCESS_TOKEN_EXPIRATION_TIME=${{secrets.JWT_ACCESS_TOKEN_EXPIRATION_TIME}} >> .env.test
                  echo JWT_ACCESS_TOKEN_EXPIRATION_TIME_ADMIN=${{secrets.JWT_ACCESS_TOKEN_EXPIRATION_TIME_ADMIN}} >> .env.test
                  echo JWT_REFRESH_TOKEN_SECRET=${{secrets.JWT_REFRESH_TOKEN_SECRET}} >> .env.test
                  echo JWT_REFRESH_TOKEN_EXPIRATION_TIME=${{secrets.JWT_REFRESH_TOKEN_EXPIRATION_TIME}} >> .env.test
            - name: Install packages
              run: npm install
            - name: Run unit test
              run: npm test
