name: blackcoffee nestjs unit test

on:
    push:
        branches: [develop]
    pull_request:
        branches: [develop, main]

jobs:
    test:
        runs-on: ubuntu-20.04
        timeout-minutes: 10

        strategy:
            matrix:
                node-version: [16.5]

        steps:
            - uses: actions/checkout@v3
            - name: Set up Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node-version }}
            - name: Create env.test file
              run: |
                  touch .env.test
                  echo NODE_ENV=${{ secrets.NODE_ENV }} >> .env.test
                  echo PORT=${{secrets.PORT}} >> .env.test
                  echo DATABASE_USER=${{secrets.DATABASE_USER}} >> .env.test
                  echo DATABASE_PASSWORD=${{secrets.DATABASE_PASSWORD}} >> .env.test
                  echo DATABASE_HOST=${{secrets.DATABASE_HOST}} >> .env.test
                  echo DATABASE_PORT=${{secrets.DATABASE_PORT}} >> .env.test
                  echo DATABASE_DB=${{secrets.DATABASE_DB}} >> .env.test
                  echo POSTGRES_HOST=${{secrets.POSTGRES_HOST}} >> .env.test
                  echo POSTGRES_PORT=${{secrets.POSTGRES_PORT}} >> .env.test
                  echo POSTGRES_USER=${{secrets.POSTGRES_USER}} >> .env.test
                  echo POSTGRES_PASSWORD=${{secrets.POSTGRES_PASSWORD}} >> .env.test
                  echo POSTGRES_DB=${{secrets.POSTGRES_DB}} >> .env.test
                  echo KAKAO_CLIENT_ID=${{secrets.KAKAO_CLIENT_ID}} >> .env.test
                  echo KAKAO_CALLBACK_URL=${{secrets.KAKAO_CALLBACK_URL}} >> .env.test
                  echo FACEBOOK_CLIENT_ID=${{secrets.FACEBOOK_CLIENT_ID}} >> .env.test
                  echo FACEBOOK_SECRET_KEY=${{secrets.FACEBOOK_SECRET_KEY}} >> .env.test
                  echo FACEBOOK_CALLBACK_URL=${{secrets.FACEBOOK_CALLBACK_URL}} >> .env.test
                  echo JWT_ACCESS_TOKEN_SECRET=${{secrets.JWT_ACCESS_TOKEN_SECRET}} >> .env.test
                  echo JWT_ACCESS_TOKEN_EXPIRATION_TIME=${{secrets.JWT_ACCESS_TOKEN_EXPIRATION_TIME}} >> .env.test
                  echo JWT_ACCESS_TOKEN_EXPIRATION_TIME_ADMIN=${{secrets.JWT_ACCESS_TOKEN_EXPIRATION_TIME_ADMIN}} >> .env.test
                  echo JWT_REFRESH_TOKEN_SECRET=${{secrets.JWT_REFRESH_TOKEN_SECRET}} >> .env.test
                  echo JWT_REFRESH_TOKEN_EXPIRATION_TIME=${{secrets.JWT_REFRESH_TOKEN_EXPIRATION_TIME}} >> .env.test
                  echo EMAIL=${{secrets.EMAIL}} >> .env.test
                  echo EMAIL_PASSWORD=${{secrets.EMAIL_PASSWORD}} >> .env.test
                  echo NCLOUD_ACCESS_KEY_ID=${{secrets.NCLOUD_ACCESS_KEY_ID}} >> .env.test
                  echo NCLOUD_SECRET_ACCESS_KEY=${{secrets.NCLOUD_SECRET_ACCESS_KEY}} >> .env.test
                  echo NCLOUD_STORAGE_ENDPOINT=${{secrets.NCLOUD_STORAGE_ENDPOINT}} >> .env.test
                  echo NCLOUD_STORAGE_BUCKET=${{secrets.NCLOUD_STORAGE_BUCKET}} >> .env.test
                  echo NCLOUD_SERVER_IP=${{secrets.NCLOUD_SERVER_IP}} >> .env.test
                  echo NCLOUD_SERVER_USER=${{secrets.NCLOUD_SERVER_USER}} >> .env.test
                  echo NCLOUD_SERVER_PW=${{secrets.NCLOUD_SERVER_PW}} >> .env.test
                  echo NCLOUD_SERVER_PORT=${{secrets.NCLOUD_SERVER_PORT}} >> .env.test
                  echo SSH_HOST=${{secrets.SSH_HOST}} >> .env.test
                  echo SSH_USERNAME=${{secrets.SSH_USERNAME}} >> .env.test
                  echo SSH_PORT=${{secrets.SSH_PORT}} >> .env.test
                  echo SSH_PASSWORD=${{secrets.SSH_PASSWORD}} >> .env.test

            - name: Install packages
              run: npm install --force
            - name: Run unit test
              run: npm test
